<configuration>
  <appSettings file="">
    <clear />
    <add key="UserName" value="webmastersendmail2323@gmail.com" />
    <add key="Email" value="webmastersendmail2323@gmail.com" />
    <add key="Password" value="50WzWx+v1OZY1hzQllECig==" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="UseSSL" value="true" />
    <add key="ReceivedEmails" value="nhatquangth@gmail.com" />
  </appSettings>
</configuration>
