<TABLE style="WIDTH: 400px" border=1>
<TBODY>
<TR>
<TD bgColor=#add8e6 colSpan=5>
<P align=center>Monthly Report</P></TD></TR>
<TR>
<TD style="WIDTH: 50px" vAlign=center align=middle bgColor=#add8e6 rowSpan=5>January</TD>
<TD bgColor=#ffd700 colSpan=2>
<P align=center>Product A</P></TD>
<TD bgColor=#ffd700 colSpan=2>
<P align=center bgColor="#ffd700">Product B</P></TD></TR>
<TR>
<TD vAlign=center align=middle>Projected</TD>
<TD vAlign=center align=middle><STRONG>Actual</STRONG></TD>
<TD vAlign=center align=middle>Projected</TD>
<TD vAlign=center align=middle><STRONG>Actual</STRONG></TD></TR>
<TR>
<TD></TD>
<TD></TD>
<TD></TD>
<TD></TD></TR>
<TR>
<TD></TD>
<TD></TD>
<TD></TD>
<TD></TD></TR>
<TR>
<TD></TD>
<TD></TD>
<TD></TD>
<TD></TD></TR></TBODY></TABLE>