<div style="padding: 20px">
  <p style="margin: 0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ligula mauris, suscipit ac aliquet in, tincidunt at dui. Integer at orci a orci laoreet tempus quis at nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  <h4 style="color: Gray; font-style: italic; font-weight: normal; margin-bottom: 5px">Table 1 - Table Title</h4>
  <table cellpadding="3" cellspacing="0" border="0" style="width: 626px; font-size: 9pt; border-collapse: collapse">
    <tbody>
      <tr style="background-color: #E1F2D4">
        <th style="border: solid 1px #C5C5C5; padding: 6px; font-weight: normal">Column 1</th>
        <th style="border: solid 1px #C5C5C5; padding: 6px; font-weight: normal">Column 2</th>
        <th style="border: solid 1px #C5C5C5; padding: 6px; font-weight: normal">Column 3</th>
      </tr>
      <tr>
        <td style="border: solid 1px #C5C5C5; padding: 6px">&nbsp;</td>
        <td style="border: solid 1px #C5C5C5; padding: 6px">&nbsp;</td>
        <td style="border: solid 1px #C5C5C5; padding: 6px">&nbsp;</td>
      </tr>
      <tr>
        <td style="border: solid 1px #C5C5C5; padding: 6px">&nbsp;</td>
        <td style="border: solid 1px #C5C5C5; padding: 6px">&nbsp;</td>
        <td style="border: solid 1px #C5C5C5; padding: 6px">&nbsp;</td>
      </tr>
      <tr>
        <td style="border: solid 1px #C5C5C5; padding: 6px">&nbsp;</td>
        <td style="border: solid 1px #C5C5C5; padding: 6px">&nbsp;</td>
        <td style="border: solid 1px #C5C5C5; padding: 6px">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <p>Pellentesque vitae risus nec orci pharetra eleifend sed id massa. Aenean aliquam nisl vitae purus interdum gravida. Fusce iaculis nisi in risus mollis a elementum nisi ullamcorper. Fusce auctor vestibulum ullamcorper. In pulvinar sodales metus id accumsan. Nulla adipiscing tempus ligula et pellentesque. Sed eget nisi neque, ac luctus risus. Aliquam erat volutpat. Curabitur at elit quis libero pellentesque iaculis sed a libero. Integer rutrum scelerisque ornare. Ut quis tortor erat, at fringilla mi.</p>
</div>